<table class="profile" summary="Information profil">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.nom %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Nom</strong> <%= @user.nom %><br />
      <strong>Date de naissance</strong>  <%= @user.date_naissance %><br />
      <strong>Age</strong>  <%= age (@user) %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
  <tr>
     <% if !has_cv?(@user) %>   
	<td class="sidebar round">
		<% if current_user?(@user) %>
			  <%= form_tag({:action => 'upload', :user_id => @user.id}, :multipart => true) do %>
			    <%= file_field_tag(:q, :accept => 'application/pdf')  %>
			    <%= submit_tag "Ok" %>
			  <% end %>
		<% else %>
			  <strong>N'a pas encore ajouter un cv </strong> 
		<% end %>
	</td>
     <% else %>
	<td>
	     <strong> <%= link_to  "Consulter le CV ..." , root_path+'cv/'+@user.cv, { target: '_blank' }%>
	     <% if current_user?(@user) %>
		 	  <a href="#" onclick="document.getElementById('edit_cv').style.display='';"> <%= image_tag("edit.png", :alt => "Modifier votre CV?", :title => "Modifier votre CV?", :width => "25px") %></a>
			  <%= form_tag({:action => 'upload', :user_id => @user.id}, :multipart => true, :id => "edit_cv") do %>
			    <%= file_field_tag(:q, :accept => 'application/pdf')  %>
			    <%= submit_tag "Ok" %>
			  <% end %>
			  <script> document.getElementById('edit_cv').style.display="none"; </script>
	     <% end %>
	   </strong> 
	</td>

	<% if current_user?(@user) %>
		<td>
			<fieldset>
				<legend>Information complétive </legend>
				<% if vide_nbr_films?(@user) %>
					<%= form_tag({:action => 'update_nbr_films', :user_id => @user.id}, :id => "edit_nbrF") do %>
					<%= label_tag(:nbr, "Nombre moyen de films vus par semaine ?")  %>
					<%= number_field_tag(:nbr, 0, :min => 0)  %>
					<%= submit_tag "Ok" %>
					<% end %>
				<% else %>
					 <strong>Films vu par semaine : <%= @user.films_vu_par_semaine %></strong>	
				<% end %> <br/>

				<% if vide_lire_livres?(@user) %>
					<%= form_tag({:action => 'update_read_more_books', :user_id => @user.id}, :id => "edit_rmb") do %>
					<%= label_tag("J'aimerais lire plus de livres ?")  %> <br/>
					<%= label_tag("Oui")  %>
					<%= radio_button_tag(:read_more, 1) %>
					<%= label_tag("Non")  %>
					<%= radio_button_tag(:read_more, 0) %><br/>
					<%= submit_tag "Ok" %>
					<% end %>			
				<% end %>
			</fieldset>	
		</td>
	<% end %>
     <% end %>
  </tr> 
</table>
