<header>
  <%= image_tag("logo.png", :alt => "Logo de l'application", :class => "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Accueil",  root_path %></li>
      <% if connecter? %>
      	<li><%= link_to "Profil", current_user %></li>
	<li><%= link_to "Edité le profile", edit_user_path(current_user) %></li>
        <li><%= link_to "Utilisateurs", users_path %></li>
      <% end %>
      <li><%= link_to "Aide",  aide_path %></li>
      <% if connecter? %>
      <li><%= link_to "Déconnexion", deconnexion_path, :method => :delete %></li>
      <% else %>
       <li><%= link_to "Connexion", cnx_path %></li>
      <% end %>

    </ul>
  </nav>
</header>
